body {
  margin: 15px auto;
  padding: 0 10px;
  max-width: 650px;
  line-height: 1.45em;
  font-family: sans-serif;
}

.w-100 {
  width: 100%;
}

textarea {
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.big-btn {
  padding: 15px;
  font-size: 18px;
}
